
@font-face {
    font-family: Roboto;
    src: url('src/assets/fonts/Roboto/roboto-regular-webfont.woff2');
}
@font-face {
    font-family: InstagramSans;
    src: url('src/assets/fonts/InstagramSans/InstagramSans-Regular.ttf') ;
}
@font-face {
    font-family: ProximaNova;
    src: url('src/assets/fonts/Proxima-Nova/Fontspring-DEMO-proximanova-regular.otf') ;
}
@font-face {
    font-family: Segoe;
    src: url('src/assets/fonts/Segoe/Segoe UI.ttf');
}