// Colors
$clr1: #000000;
$clr2: #262626;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr-hover:#f2f2f2;
$blue-btn:#0095F6;
$gray-line:#efefef;
$red-txt:#ed4956;
$gray-icon:#C7C7C7;
$gray-txt:#737373;
$gray1:rgb(142, 142, 142);


// Breakpoints
$mobile-breakpoint: 450px;
$narrow-breakpoint: 750px;
$normal-breakpoint: 960px;
$nav-breakpoint: 1264px;

// Widths
$nav-narrow-width:72px;